.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 72vh;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copy-button {
  max-width: 80px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-16 {
  padding-top: 16px;
}

.pr-8 {
  padding-right: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}